aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.2.25
ephem==4.2.1
frozenlist==1.8.0
idna==3.11
jplephem==2.24
multidict==6.7.1
numpy==2.4.4
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
pygeodesic==0.1.11
python-dotenv==1.2.2
sgp4==2.25
skyfield==1.54
tabulate==0.10.0
typing-inspection==0.4.2
typing_extensions==4.15.0
yarl==1.23.0
